@model Cadastramento.ModelData.Logic.Cadastramento.motorista
@{
    ViewBag.Title = "..:: Cadastramento | Motorista ::..";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<h4><b>Motoristas</b></h4>
<section class="container-cadastro">
    <ul class="js-tab lista">
        <li class="item-lista il-selected">
            Identificação
            <div class="box-wizard bw-selected"></div>
        </li>
        <li class="item-lista">
            Dados Pessoais
            <div class="box-wizard"></div>
        </li>
        <li class="item-lista">
            Endereço
            <div class="box-wizard"></div>
        </li>
        <li class="item-lista">
            Importar Documento
            <div class="box-wizard"></div>
        </li>
    </ul>

    @using (Html.BeginForm("Incluir", "Motorista", FormMethod.Post, new { @class = "kt-form", @id = "form", @enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.situacaocadastroid)
        <div class="section-form">
            <section data-anime="sectionDatas">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        @Html.Label("cpf", "CPF")
                        @Html.EditorFor(model => model.cpf, "CPF", new { @class = "form-control", @placeholder = "CPF" })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.Label("cnh", "CNH")
                        @Html.TextBoxFor(model => model.cnh, new { @class = "form-control", @placeholder = "CNH" })
                    </div>
                </div>
                <hr />
                <div class="col-md-12 section-buttons">                    
                    <button type="button" class="btn btn-success" data-next="btnNext" onclick="Obter_Dados_Click();">
                        Proximo <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </div>
            </section>

            <section data-anime="sectionDatas">
                <div class="form-row">
                    <div class="form-group col-md-8">
                        @Html.Label("nome", "Nome")
                        @Html.TextBoxFor(model => model.nome, new { @class = "form-control", @placeholder = "Nome" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        @Html.Label("telefone", "Telefone")
                        @Html.EditorFor(model => model.telefone,"Telefone9Digitos", new { @class = "form-control", @placeholder = "Telefone" })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.Label("rg", "RG")
                        @Html.TextBoxFor(model => model.rg, new { @class = "form-control", @placeholder = "RG" })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.Label("rguf", "RG UF")
                        @Html.TextBoxFor(model => model.rguf, new { @class = "form-control", @placeholder = "RG UF" })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.Label("rgorgaoexpedidor", "Órgão Expedidor")
                        @Html.TextBoxFor(model => model.rgorgaoexpedidor, new { @class = "form-control", @placeholder = "Órgão Expedidor" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-8">
                        @Html.Label("email", "E-mail")
                        @Html.TextBoxFor(model => model.email, new { @class = "form-control", @placeholder = "E-mail" })
                    </div>
                </div>
                <hr />
                <div class="col-md-12 section-buttons">
                    <button type="button" class="btn btn-danger" data-back="btnBack">Voltar</button>
                    <button type="button" class="btn btn-success" data-next="btnNext">Proximo <span class="glyphicon glyphicon-arrow-right"></span></button>
                </div>
            </section>

            <section data-anime="sectionDatas">

                <div class="form-row">
                    <div class="form-group col-md-8">
                        @Html.Label("cep", "CEP")
                        @Html.TextBoxFor(model => model.cep, new { @class = "form-control", @placeholder = "CEP" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.Label("logradouro", "Logradouro")
                        @Html.TextBoxFor(model => model.logradouro, new { @class = "form-control", @placeholder = "Logradouro" })
                    </div>
                    <div class="form-group col-md-2">
                        @Html.Label("numero", "Nº")
                        @Html.TextBoxFor(model => model.numero, new { @class = "form-control", @placeholder = "Nº" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.Label("complemento", "Complemento")
                        @Html.TextBoxFor(model => model.complemento, new { @class = "form-control", @placeholder = "Complemento" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.Label("bairro", "Bairro")
                        @Html.TextBoxFor(model => model.bairro, new { @class = "form-control", @placeholder = "Bairro" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.Label("cidade", "Cidade")
                        @Html.TextBoxFor(model => model.cidade, new { @class = "form-control", @placeholder = "Cidade" })
                    </div>
                    <div class="form-group col-md-2">
                        @Html.Label("uf", "UF")
                        @Html.TextBoxFor(model => model.uf, new { @class = "form-control", @placeholder = "UF" })
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12 section-buttons">
                        <button type="button" class="btn btn-danger" data-back="btnBack"> Voltar</button>
                        <button type="button" class="btn btn-success" data-next="btnNext">Proximo</button>
                    </div>
                </div>
            </section>

            <section data-anime="sectionDatas">

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                @Html.Label("datavalidadecnh", "Validade CNH")
                                @Html.EditorFor(model => model.datavalidadecnh,"DataOnly")
                            </div>
                            <div class="form-group col-md-5">
                                @Html.Label("dataemissaocnh", "Emissão CNH")
                                @Html.EditorFor(model => model.dataemissaocnh, "DataOnly")
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-5">
                                @Html.Label("categoriacnh", "Categoria CNH")
                                @Html.TextBoxFor(model => model.categoriacnh, new { @class = "form-control", @placeholder = "Categoria" })
                            </div>
                            <div class="form-group col-md-5">
                                @Html.Label("ufcnh", "UF CNH")
                                @Html.TextBoxFor(model => model.ufcnh, new { @class = "form-control", @placeholder = "UF CNH" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Arquivo</label>
                                    <div></div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="file" name="file" data-max-size="15728640">
                                        <label class="custom-file-label" for="file">Escolha um arquivo...</label>
                                    </div>
                                    @*<span style="color: red; font-size: 12px;">São aceitos somente arquivos no formato PDF ou Word e tamanho máximo de 15 MB</span>*@
                                </div>
                            </div>
                        </div>
                    </div>                                   
                </div>
                <div class="form-row">
                    <div class="col-md-12 section-buttons">
                        <button type="button" class="btn btn-danger" data-back="btnBack"> Voltar</button>
                        <button type="button" class="btn btn-success" onclick="Salvar_Click();" style="margin-left: 5px;">Salvar</button>
                    </div>
                </div>
            </section>
        </div>
    }
</section>

@section Scripts{
    <script>
        function Salvar_Click() {
            //if (!verificaValor($("#descricao").val())) {
            //    mensagemAviso("O campo Descrição é obrigatório");
            //    return;
            //}
            //if (!verificaValor($("#situacao").val())) {
            //    mensagemAviso("O campo Situação é obrigatório");
            //    return;
            //}

            $("#form").submit();
        }

        function Obter_Dados_Click() {

            var cpf = $("#cpf").val();
            var cnh = $("#cnh").val();

            $.post('@Url.Action("ObterDetran", "Motorista")', { "cpf": cpf, "cnh": cnh },
                function (data) {                    
                    if (data.Result == "OK" && data.Record.length != 0) {
                        $("#cpf").val(data.Record.cpf);
                        $("#cnh").val(data.Record.cnh);
                        $("#nome").val(data.Record.nome);
                        $("#telefone").val(data.Record.telefone);
                        $("#rg").val(data.Record.rg);
                        $("#rguf").val(data.Record.rguf);
                        $("#rgorgaoexpedidor").val(data.Record.rgorgaoexpedidor);
                        $("#email").val(data.Record.email);
                        $("#cep").val(data.Record.cep);
                        $("#logradouro").val(data.Record.logradouro);
                        $("#numero").val(data.Record.numero);
                        $("#complemento").val(data.Record.complemento);
                        $("#bairro").val(data.Record.bairro);
                        $("#cidade").val(data.Record.cidade);
                        $("#uf").val(data.Record.uf);
                        $("#datavalidadecnh").val(data.Record.datavalidadecnh);
                        $("#dataemissaocnh").val(data.Record.dataemissaocnh);
                        $("#categoriacnh").val(data.Record.categoriacnh);
                        $("#ufcnh").val(data.Record.ufcnh);
                        $("#situacaocadastroid").val(data.Record.situacaocadastroid);
                    }
                    else {

                        $("#cpf").val(cpf);
                        $("#cnh").val(cnh);
                        mensagemAviso("Favor preencher todos dados manualmente.");                                               
                    }
                });
        }
    </script>
}








