@model Cadastramento.ModelData.Logic.Cadastramento.carroceria
@{
    ViewBag.Title = "..:: Cadastramento | Carroceria ::..";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<h4><b>Incluir</b></h4>
<section class="container-cadastro">
    <ul class="js-tab lista">
        <li class="item-lista il-selected">
            Identificação
            <div class="box-wizard bw-selected"></div>
        </li>
        <li class="item-lista">
            Dados do Veículo
            <div class="box-wizard"></div>
        </li>
        <li class="item-lista">
            Endereço
            <div class="box-wizard"></div>
        </li>
        <li class="item-lista">
            Monitoramento
            <div class="box-wizard"></div>
        </li>
    </ul>

    @using (Html.BeginForm("Incluir", "Carroceria", FormMethod.Post, new { @class = "kt-form", @id = "form", @enctype = "multipart/form-data" }))
    {
        <div class="section-form">
            <section data-anime="sectionDatas">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        @Html.Label("tipocarroceria", "Tipo de Carroceria")
                        @Html.DropDownListFor(model => model.tipocarroceriaid, ViewBag.ListaTipoCarroceria as SelectList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        @Html.Label("renavan", "RENAVAN")
                        @Html.TextBoxFor(model => model.renavam, new { @class = "form-control", @placeholder = "RENAVAN" })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.Label("placa", "PLACA")
                        @Html.TextBoxFor(model => model.placa, new { @class = "form-control", @placeholder = "PLACA" })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.Label("ufPlaca", "UF DA PLACA")
                        @Html.TextBoxFor(model => model.uf, new { @class = "form-control", @placeholder = "UF" })
                    </div>
                </div>
                <hr />
                <div class="col-md-12 section-buttons">                    
                    <button type="button" class="btn btn-success" data-next="btnNext" onclick="Obter_Dados_Click();">
                        Proximo <span class="glyphicon glyphicon-arrow-right"></span>
                    </button>
                </div>
            </section>

            <section data-anime="sectionDatas">
                <div class="form-row">
                    <div class="form-group col-md-3">
                        @Html.Label("chassi", "CHASSI")
                        @Html.TextBoxFor(model => model.chassi, new { @class = "form-control", @placeholder = "" })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.Label("cidadelicenciamento", "CIDADE DE LICENCIAMENTO")
                        @Html.TextBoxFor(model => model.cidadelicenciamento, new { @class = "form-control", @placeholder = "" })
                    </div>
                    <div class="form-group col-md-3">
                        @Html.Label("categoriaantt", "CATEGORIA ANTT")
                        @Html.TextBoxFor(model => model.categoriaantt, new { @class = "form-control", @placeholder = "" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        @Html.Label("corpredominante", "COR PREDOMINANTE")
                        @Html.TextBoxFor(model => model.corpredominante, new { @class = "form-control", @placeholder = "" })
                    </div>
                    <div class="form-group col-md-2">
                        @Html.Label("marca", "MARCA")
                        @Html.TextBoxFor(model => model.marca, new { @class = "form-control", @placeholder = "" })
                    </div>
                    <div class="form-group col-md-2">
                        @Html.Label("anofabricacao", "ANO FABRICAÇÃO")
                        @Html.TextBoxFor(model => model.anofabricacao, new { @class = "form-control", @placeholder = "" })
                    </div>
                    <div class="form-group col-md-2">
                        @Html.Label("anomodelo", "ANO MODELO")
                        @Html.TextBoxFor(model => model.anomodelo, new { @class = "form-control", @placeholder = "" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        @Html.Label("tipocarga", "TIPO DE CARGA")
                        @Html.DropDownListFor(model => model.tipocarga, ViewBag.ListaTipoCarga as SelectList, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-2">
                        @Html.Label("lotacaomaxima", "LOTAÇÃO MÁXIMA")
                        @Html.TextBoxFor(model => model.lotacaomaxima, new { @class = "form-control", @placeholder = "" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        @Html.Label("nomeproprietariotransportadora", "NOME DO PROPRIETÁRIO OU TRANSPORTADORA")
                        @Html.TextBoxFor(model => model.nomeproprietariotransportadora, new { @class = "form-control", @placeholder = "" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.Label("cpfcnpj", "CPF DO PROPRIETÁRIO OU CNPJ DA TRANSPORTADORA")
                        @Html.TextBoxFor(model => model.cpfcnpj, new { @class = "form-control", @placeholder = "" })
                    </div>
                </div>
                <hr />
                <div class="col-md-12 section-buttons">
                    <button type="button" class="btn btn-danger" data-back="btnBack">Cancelar</button>
                    <button type="button" class="btn btn-success" data-next="btnNext">Proximo <span class="glyphicon glyphicon-arrow-right"></span></button>
                </div>
            </section>

            <section data-anime="sectionDatas">
                <div class="form-row">
                    <div class="form-group col-md-8">
                        @Html.Label("cep", "CEP")
                        @Html.TextBoxFor(model => model.cep, new { @class = "form-control", @placeholder = "CEP" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.Label("logradouro", "Logradouro")
                        @Html.TextBoxFor(model => model.logradouro, new { @class = "form-control", @placeholder = "Logradouro" })
                    </div>
                    <div class="form-group col-md-2">
                        @Html.Label("numero", "Nº")
                        @Html.TextBoxFor(model => model.numero, new { @class = "form-control", @placeholder = "Nº" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.Label("complemento", "Complemento")
                        @Html.TextBoxFor(model => model.complemento, new { @class = "form-control", @placeholder = "Complemento" })
                    </div>
                    <div class="form-group col-md-4">
                        @Html.Label("bairro", "Bairro")
                        @Html.TextBoxFor(model => model.bairro, new { @class = "form-control", @placeholder = "Bairro" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.Label("cidade", "Cidade")
                        @Html.TextBoxFor(model => model.cidade, new { @class = "form-control", @placeholder = "Cidade" })
                    </div>
                    <div class="form-group col-md-2">
                        @Html.Label("uf", "UF")
                        @Html.TextBoxFor(model => model.uf, new { @class = "form-control", @placeholder = "UF" })
                    </div>
                </div>
                <hr />
                <div class="form-row">
                    <div class="col-md-12 section-buttons">
                        <button type="button" class="btn btn-danger" data-back="btnBack">Cancelar</button>
                        <button type="button" class="btn btn-success" data-next="btnNext" >Proximo</button>
                    </div>
                </div>
            </section>

            <section data-anime="sectionDatas">
                <div class="form-row">
                    <div class="form-group col-md-5">
                        @Html.Label("monitorado", "POSSUI MONITORAMENTO ?")
                        @Html.DropDownListFor(model => model.monitorado, ViewBag.ListaMonitoramento as SelectList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        @Html.Label("tipomonitoramento", "TIPO DE MONITORAMENTO")
                        @Html.TextBoxFor(model => model.tipomonitoramento, new { @class = "form-control", @placeholder = "" })
                    </div>
                    <div class="form-group col-md-5">
                        @Html.Label("empresamonitoramento", "EMPRESA RESPONSÁVEL PELO MONITORAMENTO")
                        @Html.TextBoxFor(model => model.empresamonitoramento, new { @class = "form-control", @placeholder = "" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Arquivo</label>
                            <div></div>
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="file" name="file" data-max-size="15728640">
                                <label class="custom-file-label" for="file">Escolha um arquivo...</label>
                            </div>
                            @*<span style="color: red; font-size: 12px;">São aceitos somente arquivos no formato PDF ou Word e tamanho máximo de 15 MB</span>*@
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-12 section-buttons">
                        <button type="button" class="btn btn-danger" data-back="btnBack"> Cancelar</button>
                        <button type="button" class="btn btn-success" data-next="btnNext" onclick="Salvar_Click();" style="margin-left: 5px;">Salvar</button>
                    </div>
                </div>
            </section>
        </div>
    }
</section>

@section Scripts{
    <script>
        function Salvar_Click() {
            //if (!verificaValor($("#descricao").val())) {
            //    mensagemAviso("O campo Descrição é obrigatório");
            //    return;
            //}
            //if (!verificaValor($("#situacao").val())) {
            //    mensagemAviso("O campo Situação é obrigatório");
            //    return;
            //}

            $("#form").submit();
        }

        function Obter_Dados_Click() {

            var placa = $("#placa").val();
            var renavam = $("#renavam").val();

            $.post('@Url.Action("ObterDetran", "Carroceria")', { "placa": placa, "renavam": renavam },
                function (data) {
                    if (data.Result == "OK" && data.Record.length != 0) {
                        $("#renavan").val(data.Record.renavam);
                        $("#placa").val(data.Record.placa);
                        $("#ufPlaca").val(data.Record.uf);
                        $("#tipocarroceria").val(data.Record.tipocarroceria);
                        $("#chassi").val(data.Record.chassi);
                        $("#cidadelicenciamento").val(data.Record.cidadelicenciamento);
                        $("#categoriaantt").val(data.Record.categoriaantt);
                        $("#corpredominante").val(data.Record.corpredominante);
                        $("#marca").val(data.Record.marca);
                        $("#anofabricacao").val(data.Record.anofabricacao);
                        $("#anomodelo").val(data.Record.anomodelo);
                        $("#tipocarga").val(data.Record.tipocarga);
                        $("#lotacaomaxima").val(data.Record.lotacaomaxima);
                        $("#nomeproprietariotransportadora").val(data.Record.nomeproprietariotransportadora);                        
                        $("#cpfcnpj").val(data.Record.cpfcnpj);                        
                        $("#anofabricacao").val(data.Record.logradouro);                        
                        $("#anofabricacao").val(data.Record.logradouro);                        
                        $("#anofabricacao").val(data.Record.logradouro);                        
                        $("#anofabricacao").val(data.Record.logradouro);                                              
                        $("#cep").val(data.Record.cep);
                        $("#numero").val(data.Record.numero);
                        $("#complemento").val(data.Record.complemento);
                        $("#bairro").val(data.Record.bairro);
                        $("#cidade").val(data.Record.cidade);
                        $("#uf").val(data.Record.uf);
                        //$("#datavalidadecnh").val(data.Record.datavalidadecnh);
                        //$("#dataemissaocnh").val(data.Record.dataemissaocnh);
                        $("#monitorado").val(data.Record.monitorado);
                        $("#tipomonitoramento").val(data.Record.tipomonitoramento);
                        $("#empresamonitoramento").val(data.Record.empresamonitoramento);
                    }
                    else {

                        $("#cpf").val(cpf);
                        $("#cnh").val(cnh);
                        mensagemAviso("Favor preencher todos dados manualmente.");
                    }
                });
        }
    </script>
}